%%-*- mode: erlang -*-
{lib_dirs, ["deps", "."]}.

{deps, [
  {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "2.0.1"}}},
  {cowboy, ".*", {git, "git://github.com/extend/cowboy.git"}},
  {eredis, ".*", {git, "git://github.com/wooga/eredis.git"}},
  {lhttpc, ".*", {git, "git://github.com/esl/lhttpc.git"}},
  {uri, ".*", {git, "git://github.com/heroku/uri.git"}},
  {meck, ".*", {git, "https://github.com/eproxus/meck.git", {tag, "0.8"}}}
]}.

{erl_opts, [
            debug_info,
            warn_format,
            warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_bif_clash,
            %% warn_missing_spec,
            %% warn_untyped_record
            {parse_transform, lager_transform}
           ]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.
