[
	%% SASL config
	{sasl, [
		{sasl_error_logger, {file, "log/sasl-error.log"}},
		{errlog_type, error},
		{error_logger_mf_dir, "log/sasl"},      % Log directory
		{error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
		{error_logger_mf_maxfiles, 5}           % 5 files max
	]},

	{erl_proxy, [
		{redis, [
			{host, "127.0.0.1"},
			{port, 6379},
			{namespace, "erl_proxy"}
		]},
		{user_agent, "erl_proxy"},
		{cowboy_port, 8888},
		{cowboy_acceptors_num, 100},
		{forward_to, "http://localhost:80"},
		{retry_attempts, 5},
		{delay_formula, [
			{coefficient, 100},
			{power, 4}
		]},
		{reply_status, 200},
		{connection_timeout, 1000},
		{request_timeout, 5000},
		{schedule_pool_interval, 15000}
	]}
].
